<!-- <p>about works!</p> 
-->

<section class="container w-2/3 mx-auto">
    <h1 class="text-3xl font-bold text-center">About</h1>
    <div class="flex flex-row flex-wrap-reverse">
        <div class="w-full sm:w-1/2">
            <p class="p-5 mr-4 mb-8">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, 
            </p>
            <p class="p-5 mr-4">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, 
            </p>
        </div>
        <div class="w-full sm:w-1/2 p-5 text-center">
            <img src="/assets/images/customers.jpeg" width="400" alt="placeholder image">
        </div>

    </div>
</section>
