<!-- <p>assistant works!</p>-->
<div  class="container w-full lg:w-[90%] mx-auto relative">
    
    <div class="p-2 mb-4 ml-[10px]">
        <button class="w-[98%] md:w-[40%]"  mat-raised-button (click) ="assitOpenClose()" >
            <mat-icon class="text-green-700"> live_help</mat-icon>
            @if(!openAssistant){
                Open Assistant
                <mat-icon iconPositionEnd>
                    keyboard_arrow_down
                </mat-icon>
            } @else {
                Close Assistant
                <mat-icon iconPositionEnd>
                    keyboard_arrow_up
                </mat-icon>
            }
        </button>    
            
    </div>
    <div *ngIf="openAssistant" class="p-2 ml-4 mb-8 -mt-4">       

        <hr class=" p-2 ml-[10px] ">
        <div class="-ml-[10px] mr-[10px]">
           <div class="text-gray-700 w-full h-60 grid grid-cols-1 md:grid-cols-2 gap-4 pl-0 ">
                <div class="bg-white space-x-2 p-2 order-2 md:order-1 border-[1px] border-gray-200 rounded-lg ">
                    Query Results Window
                </div>
                <div class="bg-white space-x-2 p-2 order-1 md:order-2 border-[1px] border-gray-200 rounded-lg ">
                    Resource Links
                </div>
           </div>
           <div class="mt-4 border-[1px] border-gray-200 rounded-lg ">
                <div class="h-24 bg-white">
                    User Query Window
            </div> 
           </div>
           
        </div>
    </div>
    
</div>
