<!-- <p>rental-app works!</p>--> 

<div class="container w-2/3 mx-auto">
    <div class="text-center">
        <mat-icon class="text-orange-700">line_weight</mat-icon>
        <label for="countries" class="block text-xl sm:text-sm font-semi-bold text-gray-900 dark:text-white font-medium uppercase mb-4">Welcome to rental-apply.com</label>
    </div>    
    <mat-form-field class="w-full">
        <mat-label>Choose rental property</mat-label>
        <mat-select #selectProperty (selectionChange)="onSelectProperty(selectProperty.value)">
          <mat-option *ngFor="let property of properties" [value]="property.id">
            {{property.title}}
          </mat-option>
        </mat-select>
    </mat-form-field>
    <div class="flex flex-row">
        <div class=" w-1/4">
            <img src={{selectedProperty.image}} title="{{selectedProperty.title}}" width="100%" />
        </div>
        <div class="ml-4 w-3/4" *ngIf="show">
            <div class="p-1 pt-0">
                <h2 class="text-gray-700 text-md font-semi-bold pb-1">Property Details</h2>
                <div class="text-gray-600 text-md -mt-4">{{selectedProperty.title}} ({{selectedProperty.bedrooms}} bedroom {{selectedProperty.type}})
                    <div class="mt-2">{{selectedProperty.description}}</div>
                    <div class="mt-2">
                        {{selectedProperty.street}} {{selectedProperty.city}}
                    </div>
                    <p>{{selectedProperty.bedrooms}} bedrooms, {{selectedProperty.bathrooms}} bathrooms</p>
                    <p><span class="text-gray-700 font-bold">Contact</span>: xxx-xxx-xxxx, rentinfo@rental-app.com</p>
                    
                </div> 
            </div>            
        </div>        
    </div>
</div> 


>